.button {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.col {
    display: flex;
    justify-content: center; /* Centra horizontalmente los elementos */
    align-items: center; /* Centra verticalmente los elementos */
    margin-bottom: 20px; /* Espacio entre cada div */
}

.form-control {
    width: 90%; /* Cambia el ancho al 80% del contenedor */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 20px; /* Agrega un margen superior de 20px */
}

.btn-agregarProducto {
    width: 12vw;
    height: 10vh;
    font-size: 1rem;
    font-family: "Plus Jakarta Sans";
    border: 0;
    background-color: var(--rosado-oscuro);
    color: var(--blanco);
    border-radius: 10px;
}

.productos-completos {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.productos-fila {
    display: flex;
    flex-wrap: wrap;
    gap: 5vw;
    justify-content: space-evenly;
    padding-bottom: 10vh;
    transition: transform 0.3s ease-in-out;
    margin-left: 20px;
    margin-right: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 20vw; 
    height: auto; 
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-bottom: 20px; 
}

.producto-img {
    width: 100%;
    height: auto;
    max-width: 150px; 
    object-fit: cover;
}

.btn-editar,
.btn-eliminar {
    width: 12vw;
    height: 5vh;
    font-size: 1rem;
    font-family: "Plus Jakarta Sans";
    border: 0;
    background-color: var(--rosado-oscuro);
    color: var(--blanco);
    border-radius: 10px;
    margin-top: 10px;
}
