:root {
    --beige: #ede6d9;
    --rosado-claro: #e09f99;
    --rosado-oscuro: #B8827F;
    --cafe: #5a574f;
    --blanco:#fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Plus Jakarta Sans", sans-serif;
    color: var(--cafe);
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px 60px 20px 60px;
    background-color: var(--beige);
    align-items: center;
    height: 9vh;
}

ul{
    list-style: none;
    display: flex;
    gap: 3vw;
}


ul li a{
    text-decoration: none;
    color: var(--rosado-oscuro);
    font-weight: bold;
}

.menu {
    list-style-type: none;
    padding: 0;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.submenu-2 {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#lista-menu > li:hover .submenu {
    display: block;
}

.submenu > li:hover .submenu-2 {
    display: block;
}

#logo{
    width: 13vw;
}

.barra-busqueda{
    display: flex;
    position: relative;
    background-color: var(--blanco);
    border-radius: 10px;
}

.barra-busqueda input{
    border: 0;
    outline: 0;
    padding-left: 10px;
    height: 3vh;
    border-radius: 10px;
    font-family: "Plus Jakarta Sans";
    width: 10vw;
}

.barra-busqueda button{
    border: 0;
    outline: 0;
    padding-right: 10px;
    background-color: transparent;
}

.barra-busqueda button i{
    color: var(--cafe);
}

#container-texto-mov {
    background-color: var(--rosado-claro);
    position: relative;
    overflow: hidden;
    width: 100%; 
    height: 40px; 
    display: flex;
    align-items: center;
}

#texto-movimiento {
    position: absolute;
    white-space: nowrap;
    animation: mover-derecha-izquierda 20s linear infinite;
    font-weight: bold;
    font-size: .8rem;
    color: var(--rosado-oscuro);
}

@keyframes mover-derecha-izquierda {
    0% {
        transform: translateX(100vw);
    }
    100% {
        transform: translateX(-100%);
    }
}

.banner-container {
    width: 100%;
    height: 60vh; 
    overflow: hidden;
    position: relative;
}

.banner {
    width: 100%;
    height: 100%;
    position: relative;
}

.banner-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.banner-img.active {
    opacity: 1;
}

#los-fav-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

#los-favoritos{
    color: var(--rosado-oscuro);
    font-size: 30px;
    font-weight: bold;
}

.producto-img{
    width: 20vw;
}

.favoritos{
    display: flex;
    gap: 5vw;
    justify-content: space-evenly;
    padding-bottom: 10vh;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.btn-carrito{
    width: 12vw;
    height: 5vh;
    font-size: 1rem;
    font-family: "Plus Jakarta Sans";
    border: 0;
    background-color: var(--rosado-oscuro);
    color: var(--blanco);
    border-radius: 10px;
}

footer{
    background-color: var(--cafe);
    color: var(--blanco);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}